<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="columns large-6 medium-centered">
        <div class="card">
          <div class="card__content">
            <%= decidim_form_for(@form, url: authorization_path(redirect_url: redirect_url)) do |form| %>
              <%= form_required_explanation %>

              <% if setting&.email_required? %>
                <% unless @form.participant %>
                  <div class="callout announcement mb-sm alert cell-announcement">
                    <p><%= t(".not_in_census") %></p>
                  </div>
                <% end %>
                <div class="field">
                  <%= form.text_field :email, readonly: true %>
                </div>
              <% end %>

              <% if setting&.phone_required? %>
	              <div class="field">
	                <%= form.text_field :phone, readonly: setting&.verify_with_both? %>
	              </div>
	              <% if setting&.verify_with_both? %>
		              <div class="callout announcement mb-sm warning cell-announcement">
		                <p><%= t(".phone_warning") %></p>
		              </div>
	            	<% end %>
	            <% end %>

              <div class="callout announcement mb-sm secondary cell-announcement">
                <p><%= t(".participate_in", consultations: "<b>#{translated_attribute(@form.setting.title)}</b>").html_safe %></p>
              </div>

              <div class="actions">
                <%= form.submit t(setting&.phone_required? ? ".send_code": ".authorize"), class: "button expanded", "data-disable-with" => "#{t('.send_code')}...", disabled: (setting&.email_required? && (!@form.participant || @form.phone.blank?)) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
