<p><%= t(".result", rows_count: @import_summary[:imported_rows], total_rows_count: @import_summary[:total_rows]).html_safe %></p>
<% if @import_summary[:error_rows].present? %>
  <p><%= t(".errors_title", errors_count: @import_summary[:error_rows].size).html_safe %></p><br>
  <table>
    <thead>
    <tr>
      <th><%= t(".row_number") %></th>
      <th><%= t(".text_error") %></th>
    </tr>
    </thead>
    <tbody>
    <% @import_summary[:error_rows].each do |error_row| %>
      <tr>
        <td><%= error_row[:row_number] %></td>
        <td><%= error_row[:error_messages].join(', ') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
