<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= link_to translated_attribute(current_setting.title), decidim_admin_action_delegator.settings_path %> &gt;
      <%= link_to t("title", scope: "decidim.action_delegator.admin.participants.index"), decidim_admin_action_delegator.setting_participants_path(current_setting) %> &gt;
      <%= t ".title" %>
    </h2>
  </div>

  <div class="card-section">
    <%= decidim_form_for @form, url: { action: "create" }, html: { class: "form new_participant" } do |f| %>
      <%= render partial: "form", object: f %>

      <div class="button--double form-general-submit">
        <%= f.submit t(".save") %>
      </div>
    <% end %>
  </div>
</div>
