<div class="card with-overflow" id='user-groups'>
  <div class="card-divider">
    <h2 class="card-title">
      <%= t ".title" %>
      <%= link_to t(".actions.new_setting"), decidim_admin_action_delegator.new_setting_path, class: "button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
    <p class="help-text"><%= t ".description_html" %></p>
    <%= render "check_verifier" %>
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t(".consultation") %></th>
            <th><%= t(".max_grants") %></th>
            <th><%= t(".authorization_method") %></th>
            <th><%= t(".delegations") %></th>
            <th><%= t(".ponderations") %></th>
            <th><%= t(".census") %></th>
            <th><%= t(".created_at") %></th>
            <th><%= t(".state") %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% settings.each do |setting| %>
            <tr data-setting-id="<%= setting.id %>">
              <td><%= link_to translated_attribute(setting.title), decidim_consultations.consultation_path(setting.consultation), target: :blank %></td>
              <td><%= setting.max_grants %></td>
              <td class="text-<%= setting.phone_required? ? (setting.verify_with_both? ? "success" : "secondary") : "warning" %>"><%= t setting.authorization_method, scope: "decidim.action_delegator.admin.settings.authorization_method" %></td>
              <td><%= setting.delegations.count %></td>
              <td><%= setting.ponderations.count %></td>
              <td><%= setting.participants.count %></td>
              <td><%= l setting.created_at, format: :short %></td>
              <td class="text-<%= setting.ongoing? ? "warning" : (setting.editable? ? "success" : "alert") %>"><%= t setting.state, scope: "decidim.action_delegator.admin.settings.state" %></td>

              <td class="table-list__actions">
                <%= icon_link_to "pencil", decidim_admin_action_delegator.edit_setting_path(setting), t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit" %>
                <%= icon_link_to "grid-two-up", decidim_admin_action_delegator.setting_ponderations_path(setting), t(".actions.ponderate"), class: "action-icon--edit" %>
                <%= icon_link_to "people", decidim_admin_action_delegator.setting_participants_path(setting), t(".actions.census"), class: "action-icon--edit" %>
                <%= icon_link_to "loop", decidim_admin_action_delegator.setting_delegations_path(setting), t(".actions.delegations"), class: "action-icon--edit" %>
                <%= icon_link_to "circle-x", decidim_admin_action_delegator.setting_path(setting), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
              </td>
            </tr>
            <% if setting.editable? %>
            <tr>
              <td colspan="9">
                <div class="callout primary">
                  todo:
                   - check verifier is installed in all questions
                   - check users are verified
                   - check users are registered
                 </div>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= decidim_paginate settings %>
  </div>
</div>
