<% total_published_questions = current_question.consultation.questions.published.count %>
<% voted_questions = current_question.consultation.questions.published.joins(:votes).where(votes: { author: current_user }).distinct.count(:id) %>

<% alert_class = total_published_questions != voted_questions ? "alert" : "success" %>

<div class="callout <%= alert_class %>">
    <p>
        <%= t("action_delegator.questions.callout_text", scope: "decidim") %>
        <span><%= voted_questions %></span>
        <%= t("action_delegator.questions.from", scope: "decidim") %> <span><%= total_published_questions %></span> <%= t("action_delegator.questions.callout_text_question", scope: "decidim") %>
        <a href="#" class="text-primary" data-open="consultations-questions-modal"><%= t("action_delegator.questions.callout_link_text", scope: "decidim") %></a>
    </p>
</div>

<div class="reveal" id="consultations-questions-modal" data-reveal>
  <h4><%= t("action_delegator.questions.modal.modal_votes_title", scope: "decidim") %></h4>
  <p class="lead">
    <table class="table-list">
          <thead>
            <tr>
              <th width="200"><%= t("action_delegator.questions.modal.modal_table_header_question", scope: "decidim") %></th>
              <th width="150"><%= t("action_delegator.questions.modal.modal_table_header_answer", scope: "decidim") %></th>
            </tr>
          </thead>
          <tbody>
            <% current_question.consultation.questions.each do |question| %>
              <tr>
                <td><%= translated_attribute(question.title).html_safe %></td>
                <td>
                  <% if question.votes.where(author: current_user).any? %>
                    <% user_response = question.responses.joins(:votes).find_by(votes: { author: current_user }) %>
                      <% if user_response %>
                        <p title="<%= translated_attribute(user_response.title) %>"><%= t("booleans.true") %></p>
                      <% else %>
                                          <%= link_to t("action_delegator.questions.question_not_answered", scope: "decidim"), decidim_consultations.question_path(question), class: "text-primary" %>
                      <% end %>
                  <% else %>
                    <%= link_to t("action_delegator.questions.question_not_answered", scope: "decidim"), decidim_consultations.question_path(question), class: "text-primary" %>
                  <% end %>
                </td>
              </tr>
             <% end %>
          </tbody>
    </table>
  </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
