<% total_published_questions = current_question.consultation.questions.published.count %>
<% voted_questions = current_question.consultation.questions.published.joins(:votes).where(votes: { author: current_user }).count %>

<% alert_class = total_published_questions != voted_questions ? "alert" : "success" %>

<div class="callout <%= alert_class %>">
    <p>
        Has repost
        <span><%= voted_questions %></span>
        de <span><%= total_published_questions %></span> preguntes.
        <a class="" data-open="consultations-questions-modal">Revisa el resum de la teva votació aqui</a>
    </p>
</div>

<div class="reveal" id="consultations-questions-modal" data-reveal>
  <h4>Els teus vots a "Panell de votacions"</h4>
  <p class="lead">
    <table class="table-list">
          <thead>
            <tr>
              <th width="200">Pregunta</th>
              <th width="150">Has respost?</th>
            </tr>
          </thead>
          <tbody>
            <% current_question.consultation.questions.each do |question| %>
              <tr>
                <td><%= translated_attribute(question.title) %></td>
                <td>
                  <% if question.votes.where(author: current_user).any? %>
                    <% user_response = question.responses.joins(:votes).find_by(votes: { author: current_user }) %>
                      <% if user_response %>
                        <p><%= translated_attribute(user_response.title) %></p>
                      <% end %>
                  <% else %>
                      <a href="#">No answer yet</a>
                  <% end %>
                </td>
              </tr>
             <% end %>
          </tbody>
    </table>
  </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
