<div class="card" id="consultations">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.results" %>
      <span class="label button--title">
        <%= t "decidim.admin.consultations.results.total_votes", count: current_consultation.total_votes %>
        /
        <%= t 'decidim.admin.consultations.results.total_delegates', count: Decidim::ActionDelegator::DelegatesVotesByConsultation.new(current_consultation).query %>
        /
        <%= t "decidim.admin.consultations.results.participants", count: current_consultation.total_participants %>
      </span>
      <span id="export-consultation-results" class="button--title">
        <% if allowed_to?(:export_consultation_results, :consultation, consultation: current_consultation) %>
          <%= link_to t("decidim.admin.consultations.results.export"), decidim_admin_action_delegator.consultation_exports_path(current_consultation), method: :post, class: "button tiny button--title" %>
        <% else %>
          <span class="button tiny button--title disabled"><%= t("decidim.admin.consultations.results.export") %></span>
        <% end %>
      </span>
    </h2>
  </div>
  <div class="card-section">
    <table id="results" class="table-list">
      <% @questions.each do |question| %>
        <% unless question.external_voting %>
          <thead>
            <tr>
              <th><%= strip_tags translated_attribute question.title %></th>
              <th class="table-list__actions">
                <%= t "decidim.admin.consultations.results.total_votes", count: question.total_votes %>
                /
                <%= t 'decidim.admin.consultations.results.total_delegates', count: Decidim::ActionDelegator::DelegatesVotesByQuestion.new(question).query %>
                /
                <%= t "decidim.admin.consultations.results.participants", count: question.total_participants %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% if question.publishable_results? %>
              <% @responses.fetch(question.id, []).each do |row| %>
              <tr>
                <td class="response-title"><%= strip_tags translated_attribute row.title %></td>
                <td class="votes-count"><%= row.votes_count %></td>
              </tr>
              <% end %>
            <% else %>
              <tr>
                <td><em><%= t "decidim.admin.consultations.results.not_visible" %></em></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
