<%= link_to decidim_consultations.question_path(question), class: "button expanded button--sc" do %>
  <%= t "consultations.question.view_results", scope: "decidim" %>
  <% if question.most_weighted_voted_response.present? %>
    <span class="button__info"><%= translated_attribute question.most_weighted_voted_response.title %></span>
    <span class="button__info">
      <%= question.most_weighted_voted_response.votes_count %>
      <%= t "consultations.question.votes_out_of", scope: "decidim", count: question.most_weighted_voted_response.votes_count %>
      <%= question.total_weighted_votes %>
    </span>
  <% end %>
<% end %>
